.git
.gitignore
LICENSE
VERSION
README.md
Changelog.md
Makefile
docker-compose.yml
docs
.DS_Store

venv
*.log
**/*.pyc
*.pyo
__pycache__
.mypy_cache
.ipynb_checkpoints
*.ipynb
.idea
.vscode
config/deployment.py
